.sidebarrow {
  display: flex;
  align-items: center;
  margin-bottom: 8%;
  cursor: pointer;
}

.sidebarrow > p {
  margin-left: 5px;
  /* font-size: 1.25rem; */
  color: black;
}

.sidebarrow:hover {
  background-color: #e4e6e9;
  padding: 1.3%;
  border-radius: 10px;
}

.sidebarrow .icon-or-image .MuiAvatar-root {
  width: 25px;
  height: 25px;
}

.sidebarrow .icon-or-image .MuiSvgIcon-root {
  color: #1877f2;
}
